<div #navSentinel class="nav-sentinel"></div>
<div
  class="page-width-controller z-50 w-full fixed top-0"
  [ngClass]="{ showNavPaddingTransition: isNavbarAtTop() }"
>
  <nav
    class="clcf-bg-primary shadow-2xl rounded-2xl inset-shadow-sm p-3"
    [ngClass]="{
      showNavBorderRadiusTransition: isNavbarAtTop(),
      openNavBarMobile: isMobileNavMenuOpen(),
    }"
  >
    <div class="flex items-center justify-between">
      <a href="/">
        <img
          class="rounded"
          [ngSrc]="'assets/CLCFLOGO.jpg'"
          alt="CLCF Logo"
          width="242.45"
          height="65"
          priority
        />
      </a>
      @if (layoutService.isMobileView()) {
        <div class="flex gap-2">
          <button type="button">
            @if (!isDarkMode()) {
              <mat-icon
                fontIcon="sunny"
                class="clcf-color-info"
                (click)="toggleDarkMode()"
              ></mat-icon>
            } @else {
              <mat-icon
                fontIcon="bedtime"
                class="clcf-color-info"
                (click)="toggleDarkMode()"
              ></mat-icon>
            }
          </button>
          <button type="button">
            @if (!isMobileNavMenuOpen()) {
              <mat-icon
                fontIcon="menu"
                class="clcf-color-info"
                (click)="toggleHamburger()"
              ></mat-icon>
            } @else {
              <mat-icon
                fontIcon="close"
                class="clcf-color-info"
                (click)="toggleHamburger()"
              ></mat-icon>
            }
          </button>
        </div>
      } @else {
        <ng-container *ngTemplateOutlet="navItems"></ng-container>
      }
    </div>
    @if (isMobileNavMenuOpen() && layoutService.isMobileView()) {
      <ng-container *ngTemplateOutlet="navItems"></ng-container>
    }
  </nav>
</div>

<ng-template #navItems>
  <div
    [ngClass]="
      layoutService.isMobileView() ? 'flex flex-col mt-3 gap-3 ms-2' : 'flex gap-5 items-center me-5'
    "
  >
    @for (link of navLinks; track link) {
      <a class="clcf-color-info text-xl" href="javascript:void(0)" (click)="navigateTo(link.path)">{{
        link.name
      }}</a>
    }
    <!--TODO: Revisit design and spacing-->
    @if (!layoutService.isMobileView()) {
      <button>
        @if (!isDarkMode()) {
          <mat-icon fontIcon="sunny" class="clcf-color-info" (click)="toggleDarkMode()"></mat-icon>
        } @else {
          <mat-icon
            fontIcon="bedtime"
            class="clcf-color-info"
            (click)="toggleDarkMode()"
          ></mat-icon>
        }
      </button>
    }
  </div>
</ng-template>
<!--TODO: Revisit design and spacing-->
