/* Theme Declarations */
$primary: #043F23 !default;
$secondary: #2b2a33;
$info: #ffffff;
$light-dark-green: #79a293;
$light-green: #78a28b;

$dark-theme: (
  'primary': $primary,
  'secondary': $secondary,
  'info': $info,
  'light-dark-green': $light-dark-green,
  'light-green': $light-green,
  'white': $info,
);

$light-theme: (
  'primary': $primary,
  'secondary': $info,
  'info': $secondary,
  'light-dark-green': $light-dark-green,
  'light-green': $light-green,
  'white': $info,
);

/* Template Class Functions */
.dark-theme {
  @each $name, $color in $dark-theme {
    .clcf-bg-#{$name} {
      background-color: $color !important;
    }
    .clcf-color-#{$name} {
      color: $color !important;
    }
    .clcf-border-#{$name} {
      border: 2px solid $color !important;
    }
  }

  &.background {
    background-color: $secondary !important;
    //TODO: Remove once content is added
    height: 120vh;
  }
}

.light-theme {
  @each $name, $color in $light-theme {
    .clcf-bg-#{$name} {
      background-color: $color !important;
    }
    .clcf-color-#{$name} {
      color: $color !important;
    }
    .clcf-border-#{$name} {
      border: 2px solid $color !important;
    }
  }

  &.background {
    background-color: $info !important;
    //TODO: Remove once content is added
    height: 120vh;
  }
}


/* Page Declarations */

// Needed to trigger the intersection observer for the navbar to see when it hits the top of the page
.nav-sentinel {
  height: 1px;
}

body {
  font-family: 'Big Shoulders Stencil', sans-serif !important;
  font-stretch: wider !important;
  box-sizing: border-box;
}

//Needed for offset body from floating navbar
.body-content{
  margin-top: 7rem;
}
/* Navbar */
.page-width-controller {
  padding: 1rem;
  transition: padding 0.5s ease-in-out;

  @media (min-width: 768px) { 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media (min-width: 992px) { 
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

nav{
  //revisit once all content is added
  height: fit-content;
  transition: border-radius 0.5s ease-in-out, height 0.5s ease-in-out;
}

/* Navbar Animations and Classes */
.showNavBorderRadiusTransition {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.showNavPaddingTransition {
  padding: 0;
}

.openNavBarMobile {
  //revisit once content is added
  height: fit-content;
}

.mat-icon {
  font-size: 2rem !important;
  height: 32px !important; /* Match font-size */
  width: 32px !important; /* Match font-size */
  // &:hover,&:target {
  //   color: $info !important;
  //   cursor: pointer;
  //   transform: scale(1.1);
  // }
}

//Body
.carousel {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: margin 0.5s ease-in-out, height 0.5s ease-in-out;

  //Check if I can do below with tailwind

  @media (min-width: 768px) { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  @media (min-width: 992px) { 
    margin-left: 2rem;
    margin-right: 2rem;
  }
} 

/* Manual Overrides */

button{
  border: none;
  background-color: transparent;
  color: default;
}

a{
  //TODO: Revisit design later
  text-decoration: none !important;
}

.image-container {
  height: 15rem;
  width: 100%;
  @media (min-width: 576px) { 
    height: 15rem;
    width: 67%;
  }
  @media (min-width: 768px) { 
    height: 25rem;
    width: 67%;
  }
  @media (min-width: 992px) { 
    height: 25rem;
    width: 55%;
  }
}

@import "tailwindcss";